<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title> ConectaPet</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/616/616408.png" type="image/png">
  <script src="https://kit.fontawesome.com/a2d9d6f10a.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="topbar">
    <div class="logo">
      <i class="fa-solid fa-paw"></i> ConectaPet
    </div>
  </header>
